@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

.audiowide-regular {
    font-family: "Audiowide", serif;
    font-weight: 900;
    font-style: normal;
}
.gugi-regular {
    font-family: "Gugi", serif;
    font-weight: 900;
    font-style: normal;
}
.stick-no-bills {
    font-family: "Stick No Bills", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}  
.plaster-regular {
    font-family: "Plaster", serif;
    font-weight: 900;
    font-style: normal;
  }
  
.tourney {
    font-family: "Tourney", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.roboto-condensed {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.noto-sans {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.comme {
    font-family: "Comme", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.bg-grid-white {
  background-image: 
    linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}
.bg-grid-orange {
  background-image: 
    linear-gradient(rgba(255,127,80,0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,127,80,0.2) 1px, transparent 1px);
  background-size: 100px 100px;
}
/* Hide scrollbar but keep scrollability */
.sidebar-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sidebar-scroll {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}
